<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PyHTTP</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
  <!-- Другие скрипты вашего проекта -->
  <script src="/js/site.js"></script>
  <link rel="stylesheet" href="/css/site.css">
</head>
<body ng-app="myApp">

    <h1>Шаблонізація</h1>
    
    <!-- RenderBody -->
    <div ng-view></div>

</body>
</html>