<main>
    <h1>Политика конфиденциальности</h1>
    <section>
        <h2>Сбор информации</h2>
        <p>Наш интернет-магазин собирает следующую информацию о пользователях: контактные данные (имя, адрес электронной
            почты, адрес доставки), информацию о заказах, а также данные об использовании сайта (IP-адреса, файлы
            cookie).
        </p>
    </section>

    <section>
        <h2>Использование информации</h2>
        <p>Мы используем собранную информацию для обработки заказов, обеспечения доставки товаров, предоставления
            информации
            о заказах и улучшения пользовательского опыта.</p>
    </section>

    <section>
        <h2>Файлы cookie и другие технологии</h2>
        <p>Наш сайт использует файлы cookie для анализа трафика, персонализации контента и рекламы, а также для
            обеспечения
            функциональности сайта.</p>
    </section>

    <section>
        <h2>Раскрытие информации третьим лицам</h2>
        <p>Мы можем передавать некоторую информацию третьим лицам, таким как поставщики услуг доставки, платежные
            системы, а
            также в случае, когда это необходимо согласно закону.</p>
    </section>

    <section>
        <h2>Защита информации</h2>
        <p>Мы применяем соответствующие меры безопасности для защиты вашей личной информации от несанкционированного
            доступа
            или утраты.</p>
    </section>

    <section>
        <h2>Ссылки на другие сайты</h2>
        <p>Наш сайт может содержать ссылки на сторонние сайты, и данная политика конфиденциальности не распространяется
            на
            эти ресурсы.</p>
    </section>

    <section>
        <h2>Право на изменение и удаление данных</h2>
        <p>Вы можете запросить изменение или удаление своих личных данных, связавшись с нашей службой поддержки.</p>
    </section>

    <section>
        <h2>Согласие с политикой</h2>
        <p>Используя наш сайт, вы соглашаетесь с нашей политикой конфиденциальности.</p>
    </section>
</main>